.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100vh;
}

.buttn {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 5px;
    margin: 2px;
    background-color: rgb(73, 68, 68);
    color: aliceblue;
    font-size: 3rem;
}
.board {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}