
body{
    background-color:black  ;
    color: aliceblue;
    font-family:'Poppins', sans-serif;    
}

.options {
    display: flex;
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100vh;
    font-family: 'Poppins';
}

.buttn {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
    margin: 3px;
    background-color: rgb(73, 68, 68);
    color: aliceblue;
    font-size: 4rem;
    font-family:'Poppins';  
    font-weight: 700;

}

.start {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
    margin: 3px;
    background-color: rgb(73, 68, 68);
    color: aliceblue;
    font-size: 2rem;
    font-family:'Poppins';  
    font-weight: 700;

}
.click {
    cursor: pointer;
}
.click:hover {
    background-color:rgb(167, 148, 148);
}

.board {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 475.43px;
}